* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 333 fff f7c08a 4444444*/

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 960px;
  overflow: auto;
  padding: 0 20px;
}

.l-heading {
  font-size: 40px;
}

.btn {
  display: inline-block;
  background: #333;
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
}

.btn-light {
  background: #fff;
  color: #333;
}

.text-primary {
  color: #f7c08a;
}

.bg-primary {
  background: #f7c08a;
}

#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
  font-size: 30px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #fff;
  padding: 20px 15px;
  text-align: center;
  font-size: 18px;
}

#navbar li a:hover, #navbar li a.current {
  background: #444;
  color: #f7c08a
}

#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 700px;
  text-align: center;
  color: #fff;
}

#showcase .showcase-content {
  padding-top: 150px;
}

#showcase h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6em;
}

#showcase a {
  margin-top: 20px;
}

/* Info Section  */

#home-info {
  height: 500px;
}

#info-img {
  background: url('../img/photo-1.jpg') no-repeat center center/cover;
  float: left;
  width: 50%;
  height: 100%
}

#info-content {
  background: #333;
  float: right;
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 40px 30px;
  text-align: center;
}

#info-content a {
  margin-top: 15px;
}

/* feature section */

#features {
  color: #333;
  height: 400px;
  background: #f4f4f4;
}

#features .box {
  float: left;
  width: 33.3%;
  height: 100%;
  text-align: center
}

#features .box i {
  margin: 20px;
}

#features .box p {
  padding: 0 30px;
  font-size: 20px
}

/* about info */

#about-info {
  height: 500px;
}

#about-info .info-left {
  float: left;
  width: 50%;
  padding: 30px;
}

#about-info .info-left {
  font-size: 1.1rem;
}

#about-info .info-right {
  float: left;
  width: 50%;
  padding: 30px;
}

#about-info .info-right img {
  width: 100%;
  border-radius: 50%;
}

/* testmonials */

#testimonials {
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  height: 600px;
  padding-top: 100px;
}

#testimonials .l-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

#testimonials .testimonial {
  margin-bottom: 30px;
  padding: 20px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

/* contact form */

#contact-form {
  background-color: #f4f4f4;
  padding-bottom: 20px;
}

#contact-form .l-heading {
  margin: 30px 0px;
  font-size: 40px;
}

#contact-form .form-group {
  margin-bottom: 15px;
}

#contact-form .form-group label {
  display: block;
}

#contact-form .form-group input, #contact-form .form-group textarea {
  width: 100%;
  padding: 10px 0;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/* contact-info */

#contact-info {
  padding: 40px 0;
  background: #333;
  color: white;
}

#contact-info .box {
  float: left;
  width: 33.3%;
  text-align: center;
}

#contact-info .box i {
  margin-bottom: 20px;
}

/* footer */

#main-footer {
  background: #444;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}