* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 333 fff f7c08a 4444444*/

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 960px;
  overflow: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  background: #333;
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
}

.btn-light {
  background: #fff;
  color: #333;
}

.text-primary {
  color: #f7c08a;
}

.bg-primary {
  background: #f7c08a;
}

#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
  font-size: 30px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #fff;
  padding: 20px 15px;
  text-align: center;
  font-size: 18px;
}

#navbar li a:hover, #navbar li a.current {
  background: #444;
  color: #f7c08a
}

#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 700px;
  text-align: center;
  color: #fff;
}

#showcase .showcase-content {
  padding-top: 150px;
}

#showcase h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6em;
}

#showcase a {
  margin-top: 20px;
}

/* Info Section  */

#home-info {
  height: 500px;
}

#info-img {
  background: url('../img/photo-1.jpg') no-repeat center center/cover;
  float: left;
  width: 50%;
  height: 100%
}

#info-content {
  background: #333;
  float: right;
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 40px 30px;
  text-align: center;
}

#info-content a {
  margin-top: 15px;
}

/* feature section */

#features {
  color: #333;
  height: 400px;
}

#features .box {
  float: left;
  width: 33.3%;
  height: 100%;
  text-align: center
}

#features .box i {
  margin: 20px;
}

#features .box p {
  padding: 0 30px;
  font-size: 20px
}

/* footer */

#main-footer div {
  background: #333;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 80px;
  padding: 20px;
}